# Игнорировать файлы .pyc (скомпилированные Python-файлы)
*.pyc

# Игнорировать директорию venv (виртуальное окружение Python)
venv/

# Игнорировать файлы с настройками, содержащие секретные данные
.env