body {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('/static/weather/img/main.jpg');
}

label {
    display: block;
}

.header-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 50px;
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
}

.card-body {
    padding: 20px;
}

.card-body input[type=text], input[type=password], textarea {
    border: 1px solid #757575;
    border-radius: 5px;
    padding: 5px;
    width: 70%;
    resize: none
}

.card-body input[type=submit] {
    margin-bottom: 10px;
}

.main-app {
    margin: 0;
    color: #fff;
}

.nav {
    color: #fff;
    border: none;
    margin: 0;
    padding-top: 16px;
}

.nav span {
    color: #fff;
}

.city-input {
    border: 1px solid #fff;
    background: rgba(244, 241, 241, 0.6);
    transition: 0.3s;
    border: none;
    border-radius: 10px;
    color: black;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 10px;
    min-height: 50px;
    font-size: 20px;
}

.nav nav a {
    color: #fff;
}

.btn-danger {
    font-size: 20px;
}

.alert a {
    border-radius: 10px;
}